{% extends 'base.html' %}

{% block title %}Herald{% endblock %}

{% block content %}
<form class="Box p-3" method="post" id="request-form">
  <input class="form-control mb-3" name="url" type="url" required placeholder="Enter a URL" />
  
  <button class="btn mb-3" id="request-btn">Send</button>

  <div class="d-flex mb-2">
    <label class="d-flex flex-items-center mr-3">
      <input type="radio" name="response-type" value="status-code" class="mr-1" checked>
      Status code
    </label>

    <label class="d-flex flex-items-center mr-3">
      <input type="radio" name="response-type" value="json" class="mr-1">
      JSON
    </label>

    <label class="d-flex flex-items-center">
      <input type="radio" name="response-type" value="html" class="mr-1">
      Html
    </label>
  </div>
</form>

<div class="Box p-3 mt-3" id="output-box" style="min-height: 100px; white-space: pre-wrap; background-color: #f6f8fa; border: 1px solid #d0d7de; border-radius: 6px;">
  {{response}}
</div>
{% endblock %}
